#banner {
	background-image:  url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: no-repeat;
	background-position: center;
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.fab {
	font: 2rem;
	columns: white;
}